.cards-brands{
  background.color: white;

}
.item {
  width:510px;
  height: 291px;
  margin: 1em;
}
.imgstyle{
  border-radius:4px;
}
.mejoresmarcas{
  width:75vw;
  max-width:1590px;
  min-width:510px;
  margin: auto;
}